<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.testMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.test">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user2name" jdbcType="VARCHAR" property="user2name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="register_date" jdbcType="TIMESTAMP" property="registerDate" />
  </resultMap>
</mapper>